.mainF {
    display: flex;
    flex-direction: row;
}

.fullthread {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(34, 34, 34);
    margin: 30px auto;
    width: 70%;
    height: 100%;
}

.buttonsF {
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px auto auto 10px;
}

.upvoteF {
    font-size: xx-large;
    background-color: rgb(34, 34, 34);
    border: none;
    color: rgb(94, 168, 91);
    height: 30px;
    margin-bottom: 3px;
}

.downvoteF {
    font-size: xx-large;
    background-color: rgb(34, 34, 34);
    border: none;
    color: rgb(73, 121, 175);
    height: 30px;
}

.upvoteF:hover {
    opacity: 0.8;
}

.downvoteF:hover {
    opacity: 0.8;
}

.likecountF {
    color: white;
    margin: auto;
    margin-top: 10px;
}

.textcontainerF {
    height: 100%;
    width: 75%;
    margin: 10px auto;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fullThreadTitle {
    color: white;
    font-size: x-large;
}

.fullThreadContent {
    color: white;
    font-size: large;
}

.commentsData {
    margin-top: 30px;
    color: rgb(156, 156, 156);
    border-bottom: 2px solid rgb(156, 156, 156);
}

.commentareaF {
    display: flex;
    flex-direction: row;
}

.addcommentF {
    border: none;
    border-radius: 15px;
    padding: 10px;
    width: 80%;
    height: 150px;
    margin: 20px auto;
    background-color: rgb(46, 46, 46);
    color: white;
}

.postcommentF {
    border: none;
    border-radius: 15px;
    height: 30px;
    margin: auto auto 30px 0px;
    width: 13%;
    background-color: rgb(94, 168, 91);;
}

.imageF {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 30%;
    margin: 10px auto;
}

img {
    border-radius: 20px;
    width: 100%;
    height: 50%;
}

.tohomeF {
    height: 5vh;
    width: 10%;
    margin: 30px auto auto 0px;
    border: none;
    border-radius: 15px;
    background-color: rgb(73, 121, 175);
    color: white;
}