.navBar {
    width: 100%;
    height: 60px;
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: row;
}

.logo {
    height: 90px;
    margin-top: 5px;
    width: 100px;
}

.appName {
    color: white;
    font-size: larger;
    margin: auto 0px auto 0px;
}