.buttonDiv {
    display: flex;
    width: 27%;
    justify-content: center;
}

.createThread {
    background-color: rgb(73, 121, 175);
    color: white;
    border: none;
    border-radius: 15px;
    margin-top: 30px;
    height: 7vh;
    width: 50%;
}