.buttons {
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.upvote {
    font-size: xx-large;
    background-color: rgb(34, 34, 34);
    border: none;
    color: rgb(94, 168, 91);
    height: 30px;
    margin-bottom: 3px;
}

.downvote {
    font-size: xx-large;
    background-color: rgb(34, 34, 34);
    border: none;
    color: rgb(73, 121, 175);
    height: 30px;
}

.upvote:hover {
    opacity: 0.8;
}

.downvote:hover {
    opacity: 0.8;
}

.likecount {
    color: white;
    margin: auto;
    margin-top: 10px;
}

.textContainer {
    overflow: hidden;
    width: 75%;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.createdBy {
    margin: 3px auto 0px 0px;
    color: rgb(150, 148, 148);
    font-size: 10px;
}

.threadTitle {
    color: white;
    font-size: 17px;
    width: 100%;
    margin-bottom: 2px;
    margin-top: 8px;
}

.threadTitle:hover {
    opacity: 0.8;
}

.titleBorder {
    width: 100%;
    border-color: gray;
}

.threadContent {
    color: white;
    font-size: 14px;
}

.threadContent:hover {
    opacity: 0.8;
}

.image {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.imageLink {
    border-radius: 20px;
    width: 100%;
    height: 50%;
}

.userButtons {
    display: flex;
    flex-direction: column;
    height: 100%;
}